body {
  font-family: "montserrat", sans-serif;
  margin: 20px;
}

nav {
  text-align: right;
  padding: 38px;
  font-size: 0.9em;
}

nav a:hover {
  color: #c699de;
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

h2:hover {
  color: #c699de;
  font-style: italic;
}

.profile-photo {
  display: block;
  max-width: 70%;
  max-height: 70%;
  min-width: 70%;
  min-height: 70%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  filter: grayscale(100%);
  object-fit: cover;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}
