body {
  font-family: "montserrat", sans-serif;
  margin: 50px;
  background-color: #313031;
}

nav {
  text-align: right;
  padding: 10px;
  font-size: 0.9em;
}

nav a:hover {
  color: #c699de;
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

a.link {
  color: #000000;
}

a {
  color: #000000;
}

h2:hover {
  color: #c699de;
  font-style: italic;
}

.container:hover .profile-photo {
  opacity: 0.3;
}

.profile-photo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  filter: grayscale(100%);
  opacity: 1;
  transition: 0.5s ease;
}
